@import "./imports/variables.css";
@import "./imports/typography.css";
@import "./imports/layout.css";

.banner-right {
    height: 400px;
    width: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}