* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

  body {
    display: flex;
    flex-direction: column;
    /* background-color: var(--beige-light); */
    background-image: url("../../images/background.jpg");
    background-repeat: repeat;
  }

  /* HEADER */

  header {
    display: flex;
    flex-direction: column;
  }

  div.free-shipping {
    background-color: var(--beige);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  div.free-shipping-extra-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  i.fa-solid.fa-xmark {
    position: absolute;
    right: 30px;
  }

  div.icons-extra-container {
    display: flex;
    justify-content: center;
  }

  div.icons {
    display: flex;
    justify-content: right;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  }

  .club, .inspiration, .sale, .favourites, .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
  }

  .club i, .inspiration i, .sale i, .favourites i, .profile i {
    margin-bottom: 0.5rem;
    font-size: 20px;
  }

  img.logo {
    height: auto;
    width: 7rem;
    position: absolute;
    left: 0;
  }

  div.menu-extra-container {
    display: flex;
    justify-content: center;
  }

  ul.menu {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  ul.menu li a {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  li::marker {
    color: transparent;
  }

  div.contact-us {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20 !important;
  }

  /* MAIN */

  .transparent-button {
    color: white;
    border: solid white 1px;
    padding: 1rem;
  }

  section.main-banner-section, section.main-product-section {
    display: flex;
    justify-content: center;
  }

  section.main-product-section {
    height: 700px;
    align-items: center;
  }
  

div.main-banner, div.main-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.main-product {
  justify-content: center;
}

div.glass-effect {
  border-radius: 7px;
  backdrop-filter: blur(5px);
  padding: 5rem 10rem;
}

div.circles-extra-container {
    display: flex;
    justify-content: center;
}

div.circles {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.round-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
}

section.grid-section, section.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 4rem 0;
}

div.grid {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.banner-medium {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section.large-icons-extra-container {
    display: flex;
    justify-content: center;
}

div.large-icons {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

div.large-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.large-icon i {
    font-size: 45px;
    margin-bottom: 1rem;
    color: var(--brown-logo);
}

div.large-icon img {
  height: 45px;
  width: 45px;
  margin-bottom: 1rem;
}

div.large-icon img.pin {
  width: auto;
}

div.large-icon p {
    text-transform: capitalize;
}

section.half-banner-extra-container {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

div.half-banner {
    width: 90%;
    display: flex;
}

div.text-left, div.banner-right {
    width: 50%;
}

div.text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.banner-right {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

div.button-black {
    color: black;
    border: solid black 1px;
    text-transform: capitalize;
    font-weight: 500;
}

/* PRODUCTS */

div.main-product {
  position: absolute;
  filter: brightness(0.6);
}

div.products {
  width: 90%;
  display: grid;
  /* grid-gap: 20px; */
  /* column-gap: 15px; */
  row-gap: 50px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 350px);
}

div.product-card {
  display: flex;
  flex-direction: column;
  height: 450px;
  background-color: white;
}

img.product-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

div.product-text {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* FOOTER */

div.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-top: 3rem;
    color: var(--beige-light);
}

div.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

div.footer-icons i {
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

div.footer-text {
    display: flex;
    justify-content: space-evenly;
}